.loading {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

.spinner-icon {
  width: 14px;
  height: 14px;

  margin: 0 auto;

  border:  solid 2px transparent;
  border-top-color:  #c7c0de;
  border-left-color: #c7c0de;
  border-radius: 10px;

  -webkit-animation: loading-bar-spinner 600ms linear infinite;
  -moz-animation:    loading-bar-spinner 600ms linear infinite;
  -ms-animation:     loading-bar-spinner 600ms linear infinite;
  -o-animation:      loading-bar-spinner 600ms linear infinite;
  animation:         loading-bar-spinner 600ms linear infinite;
}

.spinner-large {
  width: 64px;
  height: 64px;
  border-radius: 60px;
}

@-webkit-keyframes loading-bar-spinner {
  0%   { -webkit-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@-moz-keyframes loading-bar-spinner {
  0%   { -moz-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
}
@-o-keyframes loading-bar-spinner {
  0%   { -o-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
}
@-ms-keyframes loading-bar-spinner {
  0%   { -ms-transform: rotate(0deg);   transform: rotate(0deg); }
  100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

.post-details input[type=text],
.post-details textarea,
.post-details h1,
.post-details .post-body {
  position: relative;
  padding: 10px;
  margin: 0;
  width: 100%;
  display: block;
}

.post-details input[type=text],
.post-details textarea {
  color: #000;
  background: #f9f9f9;
  border: 0;
  outline: 0;
  border-radius: 0;
  box-shadow: none;
}

.post-details input[name=title],
.post-details h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  height: auto;
}
.post-details input[name=title] {
  margin-right: 0px;
  line-height: 30px;
}
.post-details .page-header {
  position: relative;
  margin-bottom: 10px;
}
.post-details .page-header .actions {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  width: 50px;
  text-align: right;
  background: #fff;
  line-height: 30px;
  z-index: 2;
}
.post-details .page-header .actions a {
  text-transform: uppercase;
  cursor: pointer;
  color: #999;
}
.post-details textarea,
.post-details .post-body {
  max-width: 100%;
  min-height: 300px;
  line-height: 20px;
}
