<section class="post-details">
  <form role="role" name="postForm" ng-submit="saveForm()">
    <div class="page-header">
      <input type="text"
             name="title"
             ng-model="formData.title"
             placeholder="Post Title"
             class="form-control"
             ng-class="{error: !postForm.title.$valid}"
             required>
    </div>

    <textarea name="body"
              ng-model="formData.body"
              placeholder="Post Body"
              class="form-control"
              ng-class="{error: !postForm.body.$valid}">
              required></textarea>
    </div>

  <div class="form-actions">
    <button class="btn btn-primary"
            ng-click="saveForm()"
            ng-disabled="postForm.$invalid || postForm.$pristine">Publish</button>
  </div>

  </form>
</section>
