<section class="post-details">
  <section ng-hide="inEditMode">
    <div class="page-header">
      <h1>{{ post.title }}</h1>

      <div class="actions">
        <a ng-click="inEditMode = !inEditMode">Edit</a>
      </div>
    </div>

    <div class="post-body"
         btf-markdown="post.body"></div>
  </section>
  <section ng-show="inEditMode">
    <form role="role" name="postForm" ng-submit="saveForm()">
      <div class="page-header">
        <div class="actions">
          <a ng-click="saveForm()" ng-hide="inSaveMode">Save</a>
          <span ng-show="inSaveMode" class="spinner-icon"></span>
        </div>
        <input type="text"
               name="title"
               ng-model="formData.title"
               placeholder="Post Title"
               class="form-control"
               ng-class="{error: !postForm.title.$valid}"
               required>
      </div>

      <textarea name="body"
                ng-model="formData.body"
                placeholder="Post Body"
                class="form-control"
                ng-class="{error: !postForm.body.$valid}">
                required></textarea>
      </div>
    </form>
  </section>
</section>
